@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
#root {
 --primary-color:#d90429;
 --secondary-color:#ef233c;
 --success-color:#ff042e;
 --body-color:#edf2f4;
 --grey-color:#8d99ae;
 --blackish-color:#2b2d42;
}


/*Landing Page - START*/
.landingPage-title {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 80vw;
  height: auto /* 176px */;
  position: relative;
  font-style: normal;
  font-family: "Gloock", "Gloock Placeholder", serif;
  color: var(--primary-color);
  font-size: 50px;
  margin: 10px;
  /* border:1px solid black; */

}
.landingPage-slogan {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 80vw;
  height: auto /* 176px */;
  position: relative;
  font-style: normal;
  font-family: "Gloock", "Gloock Placeholder", serif;
  color: var(--grey-color);
  margin: 10px;
}
.createAccount{
  border: 1px solid var(--secondary-color);
  padding: 10px 20px 10px 20px;
  size: large;
  letter-spacing: 4px;
  width: 250px;
}

/* list of languages - START */
.languages{
margin: 10px;
height: 100vh;
display: flex;
flex-direction: column;
}

.container-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.languages-container{
  position: sticky;
  top: 50px;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  margin: 10px;
  box-shadow: "0px 3px 5px var(--blackish-color)";
}

.btn-next{
  margin:20px ;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing:4px ;
  position:sticky ;
  bottom: 20px;
}

/*Language Card - START*/
.language-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 250px;
  min-height: 100px;
  display: flex;
  margin: 5px;
  font-family: 'Cinzel', serif;
  color: var(--body-color);
  background-color:var(--primary-color);
  box-shadow: 0px 3px 5px var(--blackish-color);
  letter-spacing: 3px;
  cursor: pointer;
}

.language-card.clicked {
  border: 1px solid black;
}


.language-card:hover{
  background-color: var(--success-color);
  color: var(--body-color);
  box-shadow: 0px 0px 50px var(--success-color);

}

.language-name{
  display:flex;
  justify-content:center;
  text-align:center;
  align-items:center;
}
.language-name:hover{
  font-family: 'Cinzel', serif;
  font-size: larger;
}

/*Quiz -- START */
.quiz-page{
  display: grid;
  grid-template-columns: 3fr 1fr;
  border: 2px solid var(--blackish-color);
}

.page-questions{
  border: 1px solid var(--grey-color);
  margin: 10px;
}

.question-box{
  border-radius: 5px;
  margin:10px;
  padding: 10px;
  box-shadow: -5px -5px 20px var(--grey-color);

}

.page-others{
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  height: auto;
}

.page-clock{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:10px;
  padding: 15px;
  box-shadow: -5px 2px 10px var(--grey-color);
}

.page-clock:hover{
  background-color: var(--success-color);
  color: var(--body-color);
  box-shadow: 0px 0px 50px var(--success-color);
  border: 1px solid var(--success-color);

}

.page-result{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:10px;
  padding: 15px;
  box-shadow: -5px 2px 10px var(--grey-color);
}
.page-result:hover{
  background-color: var(--success-color);
  color: var(--body-color);
  box-shadow: 0px 0px 50px var(--success-color);
  border: 1px solid var(--success-color);
  
}

/*Continue Learning -- START*/
.continuePage{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  text-align: center;
  height: 60vh;
  font-family: 'Cinzel', serif;
  color: var(--body-color);
  text-align: center;
  cursor: pointer;
}

.continue-language{
  width:150px;
  height:150px;
  /* background-color:var(--grey-color); */
  background: linear-gradient(170.2deg, #edf2f4 12.72%,var(--body-color), var(--grey-color) 101.06%);
  color:var(--grey-color);
  display:flex;
  justify-content:center;
  align-items:center;
  margin:20px;
  box-shadow: 0px 3px 5px var(--blackish-color);
  border: 0px;
  letter-spacing: 2px;
  font-size: larger;
  font-weight: bolder;
  font-variant: small-caps;
}
.continue-language:hover{
  background: linear-gradient(170.2deg, #edf2f4 12.72%,var(--body-color),  var(--secondary-color) 101.06%);
  color:var(--blackish-color);
  box-shadow: 0px 3px 5px var(--success-color);
  width:200px;
  height:200px;
}
.add-language:hover{
  background: linear-gradient(170.2deg, #edf2f4 12.72%,var(--success-color),  var(--success-color) 101.06%);
  color:var(--blackish-color);
  box-shadow: 0px 3px 5px var(--success-color);
  width:200px;
  height:200px;
}
.add-language{
  width:150px;
  height:150px;
  background: linear-gradient(170.2deg, #edf2f4 12.72%,var(--grey-color),  #edf2f4 101.06%);
  color:var(--body-color);
  display:flex;
  justify-content:center;
  align-items:center;
  margin:20px;
  box-shadow: 0px 3px 5px var(--blackish-color);
  border: 0px;
}

/*Start  Quiz --START*/
.start-container{
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.start-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  min-height: 100px;
  margin: 5px;
  font-family: 'Cinzel', serif;
  color: var(--body-color);
  font-weight: bolder;
  background-color: var(--primary-color);
  box-shadow: 0px 3px 5px var(--blackish-color);
  letter-spacing: 3px;
  cursor: pointer;
  border-radius: 30% 0%;
}

.start-card:hover{
  background-color: var(--success-color);
  color: var(--body-color);
  box-shadow: 0px 0px 50px var(--success-color);
  border-radius: 30% 30%;
}
